html {
    background-color: rgb(63, 31, 95);
    background-image: url('Assets/nebula.jpg');
    animation: animatedBackground 7s linear infinite alternate;
}

body {
    background-color: indigo;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
   background-image: linear-gradient(to bottom right,#371168 , rgb(76, 39, 100),rgb(73, 54, 88),rgb(54, 21, 114), rgb(84, 44, 110));
   border-radius: 0;
   border: 0;
   border-left: 0px;
   border-right: 0px;
}

#logo-img {
    background: url('Assets/MarsLogo2.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 2px 2px 2px 2px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(209, 179, 179);
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

table {
    border: 1px solid #2c3e50;
    margin: auto;
    background-color: midnightblue;
    padding: 20px;
    font-family: 'Lora', serif;
    opacity: 0.4;
}

td {
    border: 5px solid rgb(228, 204, 173);
    background-color: #723267;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.figureSelector {
    min-width: 70px;
    margin-left: 10px;
    border: 2px solid rgb(228, 204, 173);
    background-color: #723267;
    padding: 8px 10px 8px 10px;
    font-size: 30px;
    font-family: 'Lora', serif !important;
    font-size: 35px !important;
}

#msg {
    display: none;
    opacity: 0;
    padding-top: 25px;
    color: rgb(228, 204, 173) !important;
}

h1 {
    font-size: 2em !important;
    font-family: 'Lora', serif !important;
    color: rgb(228, 204, 173) !important;
}

h2 {
    font-size: 0.75em !important;
    font-family: 'Lora', serif !important;
    color: rgb(228, 204, 173) !important;
}

#panel {
    
    position: absolute;
 
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(82, 25, 25);
    background-image: url('Assets/spaceship-interior-captains-bridge-with-chair-cartoon-style_92863-144.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

.settings {
    margin-top: 50px;
}

#new-game {
    margin-top: 30px;
    color: rgb(228, 204, 173) !important;
}

.players,
.players:link,
.players:visited {
    cursor: pointer;
    color: rgb(228, 204, 173);
}

#p2 {
    opacity: 0.3;
}

.change-figures {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    ;
    margin-right: 3, 0px;
    cursor: pointer;
}

.change-figures span {
    margin-top: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.btn-info {
    border: 0 !important;
    background-color: #78909C !important;
}

.well {
    background-color: #bdc3c7 !important;
    padding-bottom: 50px !important;
    min-height: 530px !important;
}

.btn-group .button {
    background-color: rgb(228, 204, 173);
    border: 1px solid midnightblue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0.7px 0.7px px rgb(82, 25, 25);;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
    left: 24%;
    position: relative;
}

.btn-group .button:not(:last-child) {
    border-right: none;
    
}

#suggestions{
    background-color: rgb(228, 204, 173) !important;
    border: 1px solid midnightblue;
    color: rgb(104, 31, 31)!important;
    text-align: center;
    text-shadow: 0.7px 0.7px px rgb(82, 25, 25);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 160px;
    float: right;
    box-sizing: border-box;
    margin-right: 220px;
    margin-top: 10px;
   
}
.btn-group .button:hover {
    background-color: rgb(191, 191, 240);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}


.noHover {
    pointer-events: none;
}
.dropdown{
    margin-left: auto;
    margin-right: 30px;
    margin-top: 100px;  
    font-family: 'Lora', serif;
    font-weight: bold;
    background-color: transparent!important;
}
.htplay{
    max-width: 260px;
}
.team{
    font-family: 'Lora', serif;
    margin-left: 290px;
    font-size: 1.2em !important;
    font-style: italic;
    text-shadow: 1px 1px 1px rgb(64, 205, 224);

}
.dropdown-toggle{
    color: rgb(228, 204, 173)!important;
}
ul li{
    background-color: rgb(228, 204, 173);
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  #animate-area {
    background-image: url('Assets/nebula.jpg');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite alternate;
  }